body {
    font-family: verdana, sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    background: url("img/background.png") top left fixed;
}

/* En-tête */
#header {
    background: url("img/baniere_bkg.png") top left no-repeat;
}

#header_left {
    background: url("img/baniere_logo.png") top left no-repeat;
}

#header_right {
    display: block;
    height: 80px;
    color: white;
    font-size: 26px;
    line-height: 80px;
    padding-left: 60px;
    text-shadow: #080 0px 0px 6px;
}

/* Corps et footer */
#body {
    margin: 5px;
    text-shadow: #fff 0px 0px 8px;
}

#footer {
    border-top: 1px dashed #8a8;
    padding: 10px;
    text-align: center;
    color: #444;
    font-style: italic;
    text-shadow: #fff 0px 0px 2px;
}

/* Styles simples */

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }

/* Sémantique */

.appname { font-weight: bold; font-style: italic; }
.path { font-style: italic; }
.menu { font-style: italic; color: #030; }
.key { font-weight: bold; font-style: italic; color: #666; }
.emphasis { font-weight: bold; color: #300; }

/* Erreurs et avertissements */

.warning, .question, .info, .error {
    padding-left: 50px;
    min-height: 40px;
    margin: 5px;
}

.warning {
    color: #880;
    background: url("img/warning.png") top left no-repeat;
}

.question {
    color: #028;
    background: url("img/question.png") top left no-repeat;
}

.info {
    color: #080;
    background: url("img/info.png") top left no-repeat;
}

.error {
    color: #a00;
    background: url("img/error.png") top left no-repeat;
}

/* Titres */

h1 {
    text-shadow: #8af 0px 0px 5px;
    text-align: center;
    font-style: italic;
}

h2 {
    font-size: 1.6em;
    border-bottom: 1px dotted #aaf;
    text-shadow: none;
}

h2 span {
    color: #222;
    background-color: #eef;
    border: 1px solid #444;
    -khtml-border-radius: 10px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

/* Boutons */

.button_normal, .button_left, .button_right, .button_middle {
    color: #000;
    background-color: #ccf;
    border: 1px solid #000;
    text-decoration: none;
    margin: 0px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    line-height: 28px;
    text-shadow: #33f 0px 0px 8px;
}

.button_normal {
    -khtml-border-radius: 10px;
}

.button_left {
    -khtml-border-radius: 10px 0px 0px 10px;
}

.button_right {
    -khtml-border-radius: 0px 10px 10px 0px;
}

.button_normal:hover, .button_left:hover, .button_right:hover, .button_middle:hover {
    text-shadow: #fff 0px 0px 10px;
}