[Desktop Entry]
Name=Logram's default wallpaper
Name[fr]=Fond d'écran par défaut de Logram

X-KDE-PluginInfo-Name=Logram
X-KDE-PluginInfo-Author=Denis Steckelmacher
X-KDE-PluginInfo-Email=steckdenis@yahoo.fr
X-KDE-PluginInfo-License=LGPLv3
