Arch=i686
MaxThreads=1

[Repository]
Root=/home/moi/repo
SourceType=remote
SourceMirrors=http://archive.logram-project.org

[DistroDeps]
experimental=experimental

[Database]
HostName=localhost
Name=setup
User=root
Password=

[Mail]
Server=
Port=25
Encrypted=false
UseTLS=false
User=foo
Password=bar
LogRoot=http://archive.logram-project.org/